<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="bower_components/neon-animation/web-animations.html">

<dom-module id="iosense-source-list">
    <template>

        <style is="custom-style">
            .source:hover {
                background-color: #EFEFEF;
            }
        </style>

        <div id="sourceList">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                <template is="dom-repeat" items="[[sources]]" as="source">
                    <tr class="source">
                        <td>[[source.id]]</td>
                        <td>[[source.name]]</td>
                        <td>[[source.description]]</td>
                        <td>
                            <!--<paper-icon-button id="[[source.id]]"-->
                                               <!--icon="delete"-->
                                               <!--on-tap="deleteSource"></paper-icon-button>-->
                        </td>
                    </tr>
                </template>
            </table>
        </div>

    </template>

    <script>

        class IOSenseSourceList extends Polymer.Element {

            static get is() {
                return 'iosense-source-list';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listSources(this.receiveSources.bind(this));
            }

            receiveSources(result) {
                this.sources = result.sources;
            }

            acknowledgeDelete(result) {
                this.iosense.listSources(this.receiveSources.bind(this));
                this.$.name.value = '';
                this.$.description.value = '';
                this.$.type.value = '';
                this.$.appSelectorMenu.style.display = 'none';
                this.app.showMessage(result.info);
            }

            deleteSource(event) {
                this.iosense.deleteSource(event.target.id,
                    this.acknowledgeDelete.bind(this));
            }

        }

        customElements.define(IOSenseSourceList.is, IOSenseSourceList);

    </script>
</dom-module>
