<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="iosense-stream-list">
    <template>

        <style is="custom-style">
            .stream:hover {
                background-color: #EFEFEF;
            }
        </style>

        <template is="dom-repeat" items="[[sources]]" as="source">
            <h3>[[source.name]]</h3>
            <template is="dom-repeat" items="[[source.streams]]" as="stream">
                <div class="stream">
                    <paper-toggle-button
                            id="[[stream.id]]"
                            class="green"
                            on-tap="switchStream"
                            checked="[[stream.monitored]]"
                            style="right:10px;">
                        [[stream.name]]
                    </paper-toggle-button>
                </div>
            </template>
        </template>

    </template>

    <script>

        class IOSenseStreamList extends Polymer.Element {

            static get is() {
                return 'iosense-stream-list';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.iosense.listInteractions(1, this.receiveSourceList.bind(this));
            }

            receiveSourceList(result) {
                console.log('source list ' + JSON.stringify(result));
                this.sources = [];
                for (let i = 0; i < result.sources.length; i++) {
                    console.log('source ' + JSON.stringify(result.sources[i]));
                    this.iosense.getSource(result.sources[i].id,
                        this.receiveSource.bind(this));
                }
            }

            receiveSource(result) {
                this.push('sources', result.source);
            }

            switchStream(event) {
                const stream = {
                    id: event.target.id,
                    monitored: !event.target.checked,
                };
                this.iosense.updateDataStream(stream,
                    this.acknowledgeUpdate.bind(this));
            }

            acknowledgeUpdate(result) {
                this.iosense.listSources(this.receiveSources.bind(this));
                this.app.showMessage(result.info);
            }

        }

        customElements.define(IOSenseStreamList.is, IOSenseStreamList);

    </script>
</dom-module>
