<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="iosense-user-login">

    <template>

        <style>
            paper-checkbox.green {
                align-self: center;
                border: 1px solid var(--paper-green-200);
                padding: 8px 16px;
                margin: 20px auto;
                width: 300px;

                --paper-checkbox-checked-color: var(--paper-green-500);
                --paper-checkbox-checked-ink-color: var(--paper-green-500);
                --paper-checkbox-unchecked-color: var(--paper-green-900);
                --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
                --paper-checkbox-label-color: var(--paper-green-500);
                --paper-checkbox-label-spacing: 0;
                --paper-checkbox-margin: 8px 16px 8px 0;
                --paper-checkbox-vertical-align: top;
            }

            paper-checkbox .subtitle {
                display: block;
                font-size: 0.8em;
                margin: 10px;
            }

            paper-button {
                width: 200px;
            }

            paper-button.green {
                background: var(--paper-green-500);
                color: white;
                display: block;
            }

            paper-button.blue {
                background: var(--paper-blue-500);
                color: white;
                display: block;
            }
        </style>

        <div id="signInRegisterToggle" style="text-align: center">
            <paper-button id="signInToggle"
                          on-tap="signInMode"
                          raised>Sign in
            </paper-button>
            <paper-button id="registerToggle"
                          on-tap="registerMode"
                          raised>Register
            </paper-button>
        </div>

        <paper-input id="namespace" always-float-label label="Namespace" value="{{iosense.namespace}}"></paper-input>
        <paper-input id="username" always-float-label label="Username" value=""></paper-input>
        <paper-input id="password" always-float-label label="Password" value="" type="password"></paper-input>

        <div id="registerFields" style="display: none">
            <paper-input id="confirmPassword" always-float-label label="ConfirmPassword" value="" type="password"></paper-input>
            <paper-input id="email" always-float-label value="" label="Email"></paper-input>
            <paper-checkbox checked class="green">
                I donate
                <span class="subtitle">
                    My data for teaching and research.
                </span>
            </paper-checkbox>
        </div>

        <div id="submitButtons" style="text-align: center">
            <paper-button id="signInBt" class="green"
                          on-tap="signIn"
                          raised>Sign In
            </paper-button>
            <paper-button id="registerBt" class="blue"
                          on-tap="register"
                          raised>Register
            </paper-button>
        </div>


    </template>

    <script>
        class IOSenseUserLogin extends Polymer.Element {

            static get is() {
                return 'iosense-user-login';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    iosense: {
                        type: Object,
                        value: null,
                    },
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.signInMode();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
            }

            register() {
                const username = this.$.username.value;
                const email = this.$.email.value;
                const password = this.$.password.value;
                if (username === '') {
                    this.app.showError('Please enter a username.');
                    return;
                }
                if (email === '') {
                    this.app.showError('Please enter an email address.');
                    return;
                }
                if (password === '') {
                    this.app.showError('Please enter a password.');
                    return;
                }
                if (password !== this.$.confirmPassword.value) {
                    this.app.showError('Your password confirmation' +
                        ' does not match your password.');
                    return;
                }

                const user = {
                    username: username,
                    password: password,
                    email: email,
                };

                this.iosense.registerUser(user,
                    this.acknowledgeCreate.bind(this));
            }

            acknowledgeCreate(result) {
                this.app.showMessage(result.info);
            }

            signIn() {
                const username = this.$.username.value;
                const password = this.$.password.value;
                if (username === '') {
                    this.app.showError('Please enter a username.');
                    return;
                }
                if (password === '') {
                    this.app.showError('Please enter a password.');
                    return;
                }
                this.iosense.signIn(username, password);
            }

            /**
             * Change the form to log in
             */
            signInMode() {
                this.$.registerFields.style.display = 'none';
                this.$.registerBt.style.display = 'none';
                this.$.signInBt.style.display = 'block';
                this.$.signInToggle.style.color = '#CC0000';
                this.$.registerToggle.style.color = '#000000';
            }

            /**
             * Change the form to register
             */
            registerMode() {
                this.$.registerFields.style.display = 'block';
                this.$.registerBt.style.display = 'block';
                this.$.signInBt.style.display = 'none';
                this.$.signInToggle.style.color = '#000000';
                this.$.registerToggle.style.color = '#CC0000';
            }
        }

        // Register the io-sense element with the browser
        customElements.define(IOSenseUserLogin.is, IOSenseUserLogin);
    </script>

</dom-module>
