<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">

<dom-module id="iosense-datapoint">
    <template>

        <style is="custom-style">
            .big {
                --iron-icon-height: 72px;
                --iron-icon-width: 72px;
            }
        </style>

        <paper-card id="card"
                    alt="[[group.name]]"
                    class="white"
                    style="margin-bottom:10px; margin-right:10px; min-width: 200px;">

            <!-- Container wrapping the svg of the entire chart -->
            <div id="value"
                 style="font-weight: bold;font-size: 6em;min-height: 100px;text-align: center;">
                <iron-icon icon="[[icon]]" class="big"></iron-icon><br>
                <span style="margin-top: 50px">[[value]]</span>
                <span style="font-size: large">[[stream.type.unit]]</span>
            </div>

            <div class="card-actions horizontal justified">
                [[stream.name]]
            </div>
        </paper-card>

    </template>

    <script>

        class IOSenseDatapoint extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * Array of streams to show on this chart
                     */
                    stream: {
                        type: Object,
                        value: null,
                    },
                    timestamp: {
                        type: Number,
                        value: null,
                    },
                    value: {
                        type: String,
                        value: '',
                    },
                    icon: {
                        type: String,
                        value: '',
                    }
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.stream = {name: 'Number of users', type: {unit: 'cm'}};
                this.setValue(42534);
            }

            setValue(value) {
                if (value < -1000000000 || value > 1000000000) {
                    this.value = (value/1000000000).toFixed(2) + 'G';
                } else if (value < -1000000 || value > 1000000) {
                    this.value = (value/1000000).toFixed(2) + 'M';
                } else if (value < -1000 || value > 1000) {
                    this.value = (value/1000).toFixed(2) + 'K';
                } else {
                    this.value = value.toFixed(2) + '';
                }
            }

            loadData() {
                const streamIds = [];
                this.streams.forEach(function(stream) {
                    streamIds.push(stream.id);
                });
                this.iosense.getLastDataPoint([1,2,3],
                    this.receiveDataPoints.bind(this));
            }

            receiveDataPoints(result) {
                this.datapoints = result.datapoints;
                this.startTS = result.request.startTS;
                this.timeWindow = result.request.period;
                this.dpArrayToStreamMap(result.datapoints);
                this.initChart();
                this.drawChart();
            }
        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseDatapoint.is, IOSenseDatapoint);

    </script>
</dom-module>
