<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/google-chart/google-chart.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icons/editor-icons.html">
<link rel="import" href="bower_components/iron-icons/av-icons.html">
<link rel="import" href="bower_components/iron-icons/image-icons.html">
<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/range-datepicker/range-datepicker.html">
<link rel="import" href="bower_components/se-time-input/se-time-input.html">

<dom-module id="iosense-datapoint-chart-google">

    <template>

        <paper-card id="card"
                    alt="[[group.name]]"
                    class="white"
                    style="margin-bottom:10px; margin-right:10px; width: 30%; min-width: 300px">

            <google-chart id='chart' type='line'
                          options='{"title":"", "chartArea":{"width":"80%","height":"60%"}, "height":200, "legend":{"position":"bottom"},"explorer":{"maxZoomIn":0.01,"actions":["dragToZoom","rightClickToReset"]}}'
                          cols='[]' rows='[]'
                          style="width:100%; min-width:30%; height:30%; min-height: 25%;display:none">
            </google-chart>

            <div class="card-actions horizontal justified">
                [[name]]
                <paper-icon-button id="expend"
                                   icon="fullscreen"
                                   on-tap="expend">
                </paper-icon-button>
                <paper-icon-button id="info"
                                   icon="info">
                </paper-icon-button>

                <span id="export-control">
                    <paper-icon-button id="export-csv"
                                       icon="cloud-download"
                                       on-tap="exportCSV">
                    </paper-icon-button>
                    <paper-icon-button id="export-svg"
                                       icon="image:photo-library"
                                       on-tap="exportSVG">
                    </paper-icon-button>
                </span>

                <span id="timeControl" style="float:right;display:none">
                    <paper-icon-button id="backward"
                                       icon="chevron-left"
                                       on-tap="shiftBackward">
                    </paper-icon-button>
                    <paper-icon-button id="forward"
                                       icon="chevron-right"
                                       on-tap="shiftForward">
                    </paper-icon-button>
                    <paper-icon-button id="zoomin"
                                       icon="zoom-in"
                                       on-tap="zoomIn">
                    </paper-icon-button>
                    <paper-icon-button id="zoomout"
                                       icon="zoom-out"
                                       on-tap="zoomOut">
                    </paper-icon-button>
                    <paper-icon-button id="play"
                                       icon="av:play-arrow"
                                       on-tap="getRealTimeData">
                    </paper-icon-button>
                    <paper-icon-button id="date"
                                       icon="date-range"
                                       on-tap="pickDate">
                    </paper-icon-button>
                    <paper-dialog id="datePickerDialog">
                        <h2>Select Date & Time</h2>
                        <div>Date from : [[dateFrom]]</div>
                        <div>Date to : [[dateTo]]</div>
                        <div>
                            <se-time-input placeholder="From" value="00:00"></se-time-input>
                            <se-time-input placeholder="To" value="00:00"></se-time-input>
                        </div>
                        <range-datepicker date-from="{{dateFrom}}" date-to="{{dateTo}}"></range-datepicker>
                        <div class="buttons">
                            <paper-button dialog-dismiss>Cancel</paper-button>
                            <paper-button dialog-confirm autofocus on-tap="selectDateRange">OK</paper-button>
                        </div>
                    </paper-dialog>
                </span>
            </div>
        </paper-card>


    </template>

    <script>
        class IOSenseDataPointChartGoogle extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint-chart-google';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    iosense: {
                        type: Object,
                        value: null,
                    },
                    /**
                     * Array of streams to show on this chart
                     */
                    streams: {
                        type: Array,
                        value: null,
                    },
                    /**
                     * The data to display, ready to be pushed into the chart
                     */
                    rowsToDraw: {
                        type: Array,
                        value: [],
                    },
                    /**
                     * UNIX timestamp of the last data point
                     */
                    lastTS: {
                        type: Number,
                        value: 0,
                    },
                    /**
                     * Last value of each stream
                     */
                    lastVal: {
                        type: Object,
                        value: {},
                    },
                    /**
                     * Minimum refreshing time (milliseconds).
                     * We can received data at any frequency, but we avoid refreshing
                     * the chart if the time between two data points is two short.
                     */
                    refreshFreq: {
                        type: Number,
                        value: 1000,
                    },
                    /**
                     * The window of time to show (in milliseconds).
                     * All data points older than this time frame are
                     * deleted.
                     */
                    timeWindow: {
                        type: Number,
                        value: 300000,
                    },

                    startTS: {
                        type: Number,
                        value: null,
                    },
                };
            }

            /**
             * Called automatically when a web component is loaded
             */
            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                if (this.streams !== null) {
                    this.loadData();
                }
            }

            loadData() {
                const streamIds = [];
                this.streams.forEach(function(stream) {
                    streamIds.push(stream.id);
                });
                this.iosense.getGlimpseOfDatapoints(streamIds,
                    this.receiveDataPoints.bind(this));
            }

            getStreamIds() {
                const streamIds = [];
                this.streams.forEach(function(stream) {
                    streamIds.push(stream.id);
                });
                return streamIds;
            }

            receiveDataPoints(results) {
                const datapoints = results.datapoints;
                const request = results.request;

                if (datapoints !== undefined && datapoints.length > 0
                    && request !== undefined && request.startTS !== undefined) {
                    if (this.lastTS === 0) {
                        this.initChart(request.startTS, request.period);
                    }
                    this.startTS = request.startTS;
                    this.timeWindow = request.period;
                    this.input(datapoints);
                }
            }

            shiftBackward() {
                let startTS = this.startTS - this.timeWindow;
                let period = this.timeWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            shiftForward() {
                let startTS = this.startTS + this.timeWindow;
                let period = this.timeWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            zoomIn() {
                const halfWindow = this.timeWindow / 2;
                let startTS = this.startTS + halfWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, halfWindow, this.receiveDataPoints.bind(this));
            }

            zoomOut() {
                const halfWindow = this.timeWindow / 2;
                const doubleWindow = this.timeWindow * 2;
                let startTS = this.startTS - halfWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, doubleWindow, this.receiveDataPoints.bind(this));
            }

            pickDate() {
                this.$.datePickerDialog.open();
            }

            selectDateRange() {
                const startTS = this.dateFrom * 1000;
                const period = (this.dateTo * 1000) - startTS;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            initChart() {
                // First column is the time, first row element is initial time value
                const cols = [{'label': 'Time', 'type': 'datetime'}];

                for (let i = 0; i < this.streams.length; i++) {
                    // Add the label of each stream (currently the stream id)
                    cols.push({'label': this.streams[i].name, 'type': 'number'});
                    this.lastVal[this.streams[i].id] = 0;
                }

                const chart = this.$.chart;
                chart.cols = cols;
                chart.title = '';
            }

            /**
             * Submit new data point
             * @param data containing the data point
             */
            input(data) {
                if (Array.isArray(data)) {
                    let chart = this.$.chart;
                    let rows = [];
                    let streams = this.streams;
                    let lastTS = this.startTS;
                    let currentRow = new Array(streams.length + 1);
                    currentRow[0] = new Date(this.startTS);
                    data.forEach(function (dp) {
                        if (dp.ts > lastTS) {
                            let currentDate = new Date(dp.ts);
                            if (currentRow !== undefined) {
                                rows.push(currentRow);
                            }
                            currentRow = new Array(streams.length + 1);
                            currentRow[0] = currentDate;
                        }
                        for (let i = 0; i < streams.length; i++) {
                            if (streams[i].id === dp.streamId) {
                                currentRow[i + 1] = dp.val;
                            }
                        }
                        lastTS = dp.ts;
                    });
                    rows.push(currentRow);
                    this.rowsToDraw = rows;
                    chart.rows = this.rowsToDraw.slice();
                    chart.style.display = 'block';
                } else {
                    this.addDataPoint(data);
                }
            }

            expend(event) {
                let card = this.$.card;
                let currentSize = card.style.width;
                if (currentSize === '30%') {
                    card.style.width = '100%';
                    this.$.timeControl.style.display = 'block';
                    this.$.expend.icon = 'fullscreen-exit';
                } else {
                    card.style.width = '30%';
                    this.$.timeControl.style.display = 'none';
                    this.$.expend.icon = 'fullscreen';
                }
                this.$.chart.redraw();
            }

            exportCSV(event) {
                let csv = 'UNIX Timestamp';
                this.streams.forEach(function (stream) {
                    csv += ',' + stream.name;
                });
                csv += '\n';
                this.rowsToDraw.forEach(function (row) {
                    csv += row[0].getTime();
                    for (let i = 1; i < row.length; i++) {
                        csv += ',' + row[i];
                    }
                    csv += '\n';
                });

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(csv));
                element.setAttribute('download', 'iosense_export.csv');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

            exportSVG(event) {
                let svg = this.$.chart.$.chartdiv.childNodes[0].childNodes[0]
                    .childNodes[0].innerHTML.split('<div')[0];

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(svg));
                element.setAttribute('download', this.name + '.svg');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }
        }

        // Register the io-sense element with the browser
        customElements.define(IOSenseDataPointChartGoogle.is, IOSenseDataPointChartGoogle);
    </script>

</dom-module>
