<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="bower_components/iron-pages/iron-pages.html">

<dom-module id="iosense-api">
    <template>

        <style is="custom-style">
            body {
                margin: 0;
                display: flex;
                align-items: flex-end;
                height: 80px;
                background: #009688;
                color: white;
            }
            paper-tabs {
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                text-transform: uppercase;
                margin-bottom: 1px;
                --paper-tabs-selection-bar-color: black;
            }
        </style>

        <h4>[[details.name]]</h4>

        <p style="max-width: 600px">
            [[details.desc]]
        </p>

        <paper-tabs selected="{{selected}}" scrollable>
            <paper-tab>HTTP</paper-tab>
            <paper-tab>cURL</paper-tab>
            <paper-tab>JavaScript</paper-tab>
            <paper-tab>Java</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{selected}}">
            <div>
                <code>
                    [[details.method]] [[details.path]]<br>
                    <template is="dom-repeat" items="[[details.headers]]" as="header">
                        [[header]]<br>
                    </template>
                    [[details.data]]
                </code>
            </div>
            <div>
                <code>
                    curl -i http://iosense.tudelft.nl/[[iosense.namespace]]/[[details.path]]<br>
                    <template is="dom-repeat" items="[[details.headers]]" as="header">
                        -H "[[header]]" \<br>
                    </template>
                    -X[[details.method]] \<br>
                    -d'[[details.data]]'
                </code>
            </div>
            <div>
                JavaScript Code
            </div>
            <div>
                Java Code
            </div>
        </iron-pages>

    </template>

    <script>

        class IOSenseAPI extends Polymer.Element {

            static get is() {
                return 'iosense-api';
            }

            connectedCallback() {
                super.connectedCallback();
                this.selected = 0;
                this.iosense = document.querySelector('#iosense');
            }

        }

        customElements.define(IOSenseAPI.is, IOSenseAPI);

    </script>
</dom-module>
