<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/neon-animation/web-animations.html">

<dom-module id="iosense-app-mng">
    <template>

        <style is="custom-style">
            .app:hover {
                background-color: #EFEFEF;
            }
        </style>

        <h2>My Applications</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>URI</th>
                <th>Redirect URI</th>
                <th></th>
            </tr>
            <template is="dom-repeat" items="[[apps]]" as="app">
                <tr class="app">
                    <td>[[app.id]]</td>
                    <td>[[app.name]]</td>
                    <td>[[app.description]]</td>
                    <td>[[app.type]]</td>
                    <td>[[app.uri]]</td>
                    <td>[[app.redirect_uri]]</td>
                    <td>
                        <paper-icon-button id="[[app.id]]"
                                           icon="delete"
                                           on-tap="deleteApp">
                        </paper-icon-button>
                    </td>
                </tr>
            </template>
        </table>

    </template>

    <script>

        class IOSenseAppList extends Polymer.Element {

            static get is() {
                return 'iosense-app-list';
            }

            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                this.iosense.listApps(this.receiveListApps.bind(this));
            }

            receiveListApps(result) {
                this.apps = result.apps;
            }

            deleteApp(event) {
                this.iosense.deleteApp(event.target.id,
                    this.acknowledgeDelete.bind(this));
            }

            acknowledgeDelete(result) {
                this.app.show(result.info);
            }


        }

        customElements.define(IOSenseAppList.is, IOSenseAppList);

    </script>
</dom-module>
