<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-toast/paper-toast.html">
<link rel="import" href="iosense-user-login.html">
<link rel="import" href="iosense-datapoint.html">
<link rel="import" href="iosense-datapoint-barchart.html">

<dom-module id="iosense-base-app">
    <template>

        <!-- your custom component -->
        <iosense-datapoint id="user" stream="[[userCount]]" icon="account-circle"></iosense-datapoint>
        <iosense-datapoint id="thing" stream="[[thingCount]]" icon="assessment"></iosense-datapoint>
        <iosense-datapoint id="dataStream" stream="[[dataStreamCount]]" icon="extension"></iosense-datapoint><br>
        <iosense-datapoint id="dataPoint" stream="[[dataPointCount]]" icon="cloud"></iosense-datapoint>

        <iosense-datapoint-barchart></iosense-datapoint-barchart>

        <!-- A login form to sign in or register -->
        <iosense-user-login id="login" style="display: none;"></iosense-user-login>

        <!-- Toast component to show error messages and notifications -->
        <paper-toast id="toast" duration="5000"></paper-toast>

    </template>

    <script>

        /**
         * An example of app component integrating ioSense
         */
        class IOSenseBaseApp extends Polymer.Element {

            /**
             * The HTML tag to connect to this class.
             */
            static get is() {
                return 'iosense-base-app';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * The signedIn boolean is used to adapt the UI
                     * in signed in or signed out mode.
                     */
                    signedIn: {
                        type: Boolean,
                        value: false,
                    },
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();

                this.iosense = document.querySelector('#iosense');
                this.signedIn = this.iosense.connnected;
                const app = this;

                // Listen to ioSense signed-in event
                this.iosense.addEventListener('iosense-signed-in', function() {
                    app.signedIn = true;
                    app.$.chart.style.display = 'block';
                    app.$.login.style.display = 'none';

                    // add here things to do when we log in
                });

                // Listen to ioSense signed-out event
                this.iosense.addEventListener('iosense-signed-out', function() {
                    app.signedIn = false;
                    app.$.chart.style.display = 'none';
                    app.$.login.style.display = 'inline-block';

                    // add here things to do when we log out
                });

                this.iosense.checkCredentials();
            }

            /**
             * Define what to do when there is an error.
             * @param {Object} error - ioSense error {code: , message: ""}
             */
            showError(error) {
                this.$.toast.show(error);
            }

            /**
             * Define what to do when there is a message.
             * @param {string} message - The message to communicate
             */
            showMessage(message) {
                this.$.toast.show(message);
            }

        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseBaseApp.is, IOSenseBaseApp);

    </script>
</dom-module>
