<link rel="import" href="bower_components/polymer/polymer-element.html">
<script src="https://d3js.org/d3.v4.min.js"></script>

<dom-module id="iosense-interaction-network">

    <template>

        <div id="chart"></div>

    </template>

    <script>
        class IOSenseInteractionNetwork extends Polymer.Element {

            static get is() {
                return 'iosense-interaction-network';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                    iosense: {
                        type: Object,
                        value: null,
                    },
                };
            }

            /**
             * Called automatically when a web component is loaded
             */
            connectedCallback() {
                super.connectedCallback();
                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');
                if (this.iosense.connected) {
                    this.iosense.listInteractions(
                        'ec1b82ac1bcf4b948cd4e1c80cd0657b',
                        this.interactionsToNodesAndLinks.bind(this));
                } else {
                    this.iosense.addEventListener('iosense-signed-in', () => {
                        this.iosense.listInteractions(
                            'ec1b82ac1bcf4b948cd4e1c80cd0657b',
                            this.interactionsToNodesAndLinks.bind(this));
                    });
                }
            }

            dragstarted(d) {
                if (!d3.event.active) this.simulation.alphaTarget(0.3).restart()
                this.simulation.fix(d);
            }

            dragged(d) {
                this.simulation.fix(d, d3.event.x, d3.event.y);
            }

            dragended(d) {
                if (!d3.event.active) this.simulation.alphaTarget(0);
                this.simulation.unfix(d);
            }

            ticked() {
                this.link
                    .attr('x1', function(d) {
                        return d.source.x;
                    })
                    .attr('y1', function(d) {
                        return d.source.y;
                    })
                    .attr('x2', function(d) {
                        return d.target.x;
                    })
                    .attr('y2', function(d) {
                        return d.target.y;
                    });

                this.node
                    .attr('r', 20)
                    .style('fill', '#d9d9d9')
                    .style('stroke', '#969696')
                    .style('stroke-width', '1px')
                    .attr('cx', function(d) {
                        return d.x + 6;
                    })
                    .attr('cy', function(d) {
                        return d.y - 6;
                    });

                this.label
                    .attr('x', function(d) {
                        return d.x;
                    })
                    .attr('y', function(d) {
                        return d.y;
                    })
                    .style('font-size', '20px').style('fill', '#4393c3');
            }

            interactionsToNodesAndLinks(data) {
                const interactions = data.interactions;
                const nodes = [];
                const links = [];
                if (interactions.length > 0) {
                    nodes.push({name: interactions[0].origin, id: 0, group: 'me'});
                }
                interactions.forEach((interaction) => {
                    if (!nodes.includes(interaction.dest)) {
                        nodes.push({
                            id: nodes.length,
                            name: interaction.dest,
                            group: interaction.destType,
                            weight: interaction.numInteraction,
                        });
                        links.push({source: 0, target: nodes.length - 1});
                    }
                });
                this.data = {nodes: nodes, links: links};

                const width = 960;
                const height = 500;
                this.svg = d3.select(this.$.chart).append('svg')
                    .attr('width', width)
                    .attr('height', height);
                this.svg.style.display = 'block';
                this.width = this.svg.attr('width');
                this.height = this.svg.attr('height');

                this.simulation = d3.forceSimulation()
                    .force('link', d3.forceLink().id(function(d) {
                        return d.id;
                    }))
                    .force('charge', d3.forceManyBody().strength(-400))
                    .force('center', d3.forceCenter(width / 2, height / 2));

//                this.data.links.forEach(function(d) {
//                    d.source = d.source_id;
//                    d.target = d.target_id;
//                });

                this.link = this.svg.append('g')
                    .style('stroke', '#aaa')
                    .selectAll('line')
                    .data(this.data.links)
                    .enter().append('line');

                this.node = this.svg.append('g')
                    .attr('class', 'nodes')
                    .selectAll('circle')
                    .data(this.data.nodes)
                    .enter().append('circle')
                    .attr('r', (d) => { return d.weight; })
                    .call(d3.drag()
                        .on('start', this.dragstarted.bind(this))
                        .on('drag', this.dragged.bind(this))
                        .on('end', this.dragended.bind(this)));

                this.label = this.svg.append('g')
                    .attr('class', 'labels')
                    .selectAll('text')
                    .data(this.data.nodes)
                    .enter().append('text')
                    .attr('class', 'label')
                    .text((d) => { return d.name; });

                this.simulation
                    .nodes(this.data.nodes)
                    .on('tick', this.ticked.bind(this));

                this.simulation.force('link')
                    .links(this.data.links);
            }

            showNetwork() {
                const json = this.data;
                this.force.nodes(json.nodes)
                    .links(json.links)
                    .start();

                const link = this.svg.selectAll('.link')
                    .data(json.links)
                    .enter().append('line')
                    .attr('class', 'link')
                    .style('stroke-width', function(d) {
                        return Math.sqrt(d.weight);
                    });

                const node = this.svg.selectAll('.node')
                    .data(json.nodes)
                    .enter().append('g')
                    .attr('class', 'node')
                    .call(this.force.drag);

                node.append('circle')
                    .attr('r', '5');

                node.append('text')
                    .attr('dx', 12)
                    .attr('dy', '.35em')
                    .text(function(d) {
                        return d.name;
                    });

                this.force.on('tick', function() {
                    link.attr('x1', function(d) {
                        return d.source.x;
                    })
                        .attr('y1', function(d) {
                            return d.source.y;
                        })
                        .attr('x2', function(d) {
                            return d.target.x;
                        })
                        .attr('y2', function(d) {
                            return d.target.y;
                        });
                    node.attr('transform', function(d) {
                        return 'translate(' + d.x + ',' + d.y + ')';
                    });
                });
            }

        }

        // Register the io-sense element with the browser
        customElements.define(IOSenseInteractionNetwork.is, IOSenseInteractionNetwork);
    </script>

</dom-module>
