<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/iron-icons/editor-icons.html">
<link rel="import" href="bower_components/iron-icons/av-icons.html">
<link rel="import" href="bower_components/iron-icons/image-icons.html">
<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/range-datepicker/range-datepicker.html">
<link rel="import" href="bower_components/se-time-input/se-time-input.html">
<script src="https://d3js.org/d3.v4.min.js"></script>

<dom-module id="iosense-datapoint-barchart">
    <template>

        <style>
            .toolTip {
                position: absolute;
                display: none;
                width: 80px;
                top: 95px;
                background: none repeat scroll 0 0 #ffffff;
                border: 1px solid #6F257F;
                padding: 10px;
                text-align: center;
                z-index: 10;
            }
        </style>

        <paper-card id="card"
                    alt="[[group.name]]"
                    class="white"
                    style="margin-bottom:10px; margin-right:10px; width: 30%; min-width: 300px">

            <!-- Container wrapping the svg of the entire chart -->
            <div id="chart"></div>

            <!-- Bottom Controls -->
            <div class="card-actions horizontal justified">
                [[name]]

                <!-- Permanent control -->
                <paper-icon-button id="expend"
                                   icon="fullscreen"
                                   on-tap="expend">
                </paper-icon-button>
                <paper-icon-button id="info"
                                   icon="info">
                </paper-icon-button>

                <span id="export-control">
                    <paper-icon-button id="export-csv"
                                       icon="cloud-download"
                                       on-tap="exportCSV">
                    </paper-icon-button>
                    <paper-icon-button id="export-svg"
                                       icon="image:photo-library"
                                       on-tap="exportSVG">
                    </paper-icon-button>
                </span>

                <!-- Time controls, only shown when expended -->
                <span id="timeControl" style="float:right;display:none">
                    <paper-icon-button id="backward"
                                       icon="chevron-left"
                                       on-tap="shiftBackward">
                    </paper-icon-button>
                    <paper-icon-button id="forward"
                                       icon="chevron-right"
                                       on-tap="shiftForward">
                    </paper-icon-button>
                    <paper-icon-button id="zoomin"
                                       icon="zoom-in"
                                       on-tap="zoomIn">
                    </paper-icon-button>
                    <paper-icon-button id="zoomout"
                                       icon="zoom-out"
                                       on-tap="zoomOut">
                    </paper-icon-button>
                    <paper-icon-button id="play"
                                       icon="av:play-arrow"
                                       on-tap="getRealTimeData">
                    </paper-icon-button>
                    <paper-icon-button id="date"
                                       icon="date-range"
                                       on-tap="pickDate">
                    </paper-icon-button>

                    <paper-dialog id="datePickerDialog">
                        <h2>Select Date & Time</h2>
                        <div>Date from : [[dateFrom]]</div>
                        <div>Date to : [[dateTo]]</div>
                        <div>
                            <se-time-input placeholder="From" value="00:00"></se-time-input>
                            <se-time-input placeholder="To" value="00:00"></se-time-input>
                        </div>
                        <range-datepicker date-from="{{dateFrom}}" date-to="{{dateTo}}"></range-datepicker>
                        <div class="buttons">
                            <paper-button dialog-dismiss>Cancel</paper-button>
                            <paper-button dialog-confirm autofocus on-tap="selectDateRange">OK</paper-button>
                        </div>
                    </paper-dialog>
                </span>
            </div>
        </paper-card>

    </template>

    <script>

        class IOSenseDatapointbarchart extends Polymer.Element {

            static get is() {
                return 'iosense-datapoint-barchart';
            }

            /**
             * Properties of this class, element's public API.
             */
            static get properties() {
                return {
                    /**
                     * Array of streams to show on this chart
                     */
                    streams: {
                        type: Array,
                        value: null,
                    },
                    /**
                     * The data to display, ready to be pushed into the chart
                     */
                    rowsToDraw: {
                        type: Array,
                        value: [],
                    },
                    /**
                     * UNIX timestamp of the last data point
                     */
                    lastTS: {
                        type: Number,
                        value: 0,
                    },
                    /**
                     * Last value of each stream
                     */
                    lastVal: {
                        type: Object,
                        value: {},
                    },
                    /**
                     * Minimum refreshing time (milliseconds).
                     * We can received data at any frequency, but we avoid refreshing
                     * the chart if the time between two data points is two short.
                     */
                    refreshFreq: {
                        type: Number,
                        value: 1000,
                    },
                    /**
                     * The window of time to show (in milliseconds).
                     * All data points older than this time frame are
                     * deleted.
                     */
                    timeWindow: {
                        type: Number,
                        value: 300000,
                    },

                    startTS: {
                        type: Number,
                        value: null,
                    },
                };
            }

            /**
             * Define what we do when the component is ready
             * and connected to the HTML DOM.
             */
            connectedCallback() {
                super.connectedCallback();

                this.iosense = document.querySelector('#iosense');
                this.app = document.querySelector('#app');

                const chart = this;
                window.addEventListener('resize', () => {
                    chart.initChart();
                    chart.drawChart();
                });

                this.name = 'barChartTest';

//                this.streams = [{id: 248, name: 'Gyroscope X', group: 'Gyroscope'},
//                    {id: 249, name: 'Gyroscope Y', group: 'Gyroscope'},
//                    {id: 250, name: 'Gyroscope Z', group: 'Gyroscope'}];
//
//                this.streamMap = {};
//                if (this.streams !== null) {
//                    const map = this.streamMap;
//                    this.streams.forEach(function(stream) {
//                        map[stream.id] = stream;
//                    });
//                    this.loadData();
//                }
                this.drawChart();
            }

            loadData() {
                const streamIds = [];
                this.streams.forEach(function (stream) {
                    streamIds.push(stream.id);
                });
                this.iosense.getGlimpseOfDatapoints(streamIds,
                    this.receiveDataPoints.bind(this));
            }

            shiftBackward() {
                let startTS = this.startTS - this.timeWindow;
                let period = this.timeWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            shiftForward() {
                let startTS = this.startTS + this.timeWindow;
                let period = this.timeWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            zoomIn() {
                const halfWindow = this.timeWindow / 2;
                let startTS = this.startTS + halfWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, halfWindow, this.receiveDataPoints.bind(this));
            }

            zoomOut() {
                const halfWindow = this.timeWindow / 2;
                const doubleWindow = this.timeWindow * 2;
                let startTS = this.startTS - halfWindow;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, doubleWindow, this.receiveDataPoints.bind(this));
            }

            pickDate() {
                this.$.datePickerDialog.open();
            }

            selectDateRange() {
                const startTS = this.dateFrom * 1000;
                const period = (this.dateTo * 1000) - startTS;
                this.iosense.getDatapoints(this.getStreamIds(),
                    startTS, period, this.receiveDataPoints.bind(this));
            }

            initChart() {
//                this.$.chart.innerHTML = '';
//                this.margin = {top: 20, right: 20, bottom: 30, left: 50};
//                this.width = this.$.chart.clientWidth;
//                this.height = 200;
//                this.maxWidth = 900;

//                this.svg = d3.select(this.$.chart).append('svg')
//                    .attr('width', this.width)
//                    .attr('height', this.height);
            }

            receiveDataPoints(result) {
                this.datapoints = result.datapoints;
                this.startTS = result.request.startTS;
                this.timeWindow = result.request.period;
                this.dpArrayToStreamMap(result.datapoints);
                this.initChart();
                this.drawChart();
            }

            getStreamIds() {
                const streamIds = [];
                this.streams.forEach(function (stream) {
                    streamIds.push(stream.id);
                });
                return streamIds;
            }

            drawChart() {
                this.$.chart.innerHTML = '';
                const data  = [{"salesperson":"Bob","sales":33},
                                {"salesperson":"Robin","sales":12},
                                {"salesperson":"Anne","sales":41},
                                {"salesperson":"Mark","sales":16},
                                {"salesperson":"Joe","sales":59},
                                {"salesperson":"Eve","sales":38},
                                {"salesperson":"Karen","sales":21},
                                {"salesperson":"Kirsty","sales":25},
                                {"salesperson":"Chris","sales":30},
                                {"salesperson":"Lisa","sales":47},
                                {"salesperson":"Tom","sales":5},
                                {"salesperson":"Stacy","sales":20},
                                {"salesperson":"Charles","sales":13},
                                {"salesperson":"Mary","sales":29}];


                const margin = {top: 20, right: 20, bottom: 30, left: 40},
                    width = 360 - margin.left - margin.right,
                    height = 200 - margin.top - margin.bottom;

                const x = d3.scaleBand()
                    .range([0, width])
                    .padding(0.1);

                const y = d3.scaleLinear()
                    .range([height, 0]);


                const svg = d3.select(this.$.chart)
                    .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                const tooltip =d3.select(this.$.chart)
                    .append("div")
                    .attr("class", "toolTip");

                // format the data
                data.forEach(function(d) {
                    d.sales = +d.sales;
                });

                y.domain([0, d3.max(data, function(d){ return d.sales; })])
                x.domain(data.map(function(d) { return d.salesperson; }));

                // append the rectangles for the bar chart
                svg.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function (d) { return x(d.salesperson);})
                    .attr("width", x.bandwidth())
                    .attr("y", function (d) { return y(d.sales);})
                    .attr("height", function (d) {return height - y(d.sales);})
                    .on("mousemove", function (d) {
                        tooltip
                            .style("left", d3.event.pageX - 50 + "px")
                            .style("top", d3.event.pageY - 350 + "px")
                            .style("display", "inline-block")
                            .html((d.salesperson) + "<br>" + "Sales: " + (d.sales));})
                    .on("mouseout", function (d) {
                        tooltip.style("display", "none");
                    });

                // add the x Axis
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // add the y Axis
                svg.append("g")
                    .call(d3.axisLeft(y));
            }

            dpArrayToStreamMap(datapoints) {
                const streamMap = this.streamMap;
                for (let key in streamMap) {
                    if (streamMap.hasOwnProperty(key)) {
                        streamMap[key].datapoints = [];
                    }
                }
                datapoints.forEach(function (dp) {
                    if (streamMap.hasOwnProperty(dp.streamId)) {
                        if (!streamMap[dp.streamId].hasOwnProperty('datapoints')) {
                            streamMap[dp.streamId].datapoints = [];
                        }
                        dp.date = new Date(dp.ts);
                        streamMap[dp.streamId].datapoints.push(dp);
                    }
                });
            }

            exportCSV(event) {
                let csv = 'UNIX Timestamp';
                this.streams.forEach(function (stream) {
                    csv += ',' + stream.name;
                });
                csv += '\n';
                this.datapointsToTable().forEach(function (row) {
                    csv += row[0].getTime();
                    for (let i = 1; i < row.length; i++) {
                        csv += ',' + row[i];
                    }
                    csv += '\n';
                });

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(csv));
                element.setAttribute('download', 'iosense_export.csv');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

            datapointsToTable() {
                let rows = [];
                let streams = this.streams;
                let lastTS = this.startTS;
                let currentRow = new Array(streams.length + 1);
                currentRow[0] = new Date(this.startTS);
                this.datapoints.forEach(function (dp) {
                    if (dp.ts > lastTS) {
                        let currentDate = new Date(dp.ts);
                        if (currentRow !== undefined) {
                            rows.push(currentRow);
                        }
                        currentRow = new Array(streams.length + 1);
                        currentRow[0] = currentDate;
                    }
                    for (let i = 0; i < streams.length; i++) {
                        if (streams[i].id === dp.streamId) {
                            currentRow[i + 1] = dp.val;
                        }
                    }
                    lastTS = dp.ts;
                });
                rows.push(currentRow);
                return rows;
            }

            expend(event) {
                let card = this.$.card;
                let currentSize = card.style.width;
                if (currentSize === '30%') {
                    card.style.width = '100%';
                    this.$.timeControl.style.display = 'block';
                    this.$.expend.icon = 'fullscreen-exit';
                } else {
                    card.style.width = '30%';
                    this.$.timeControl.style.display = 'none';
                    this.$.expend.icon = 'fullscreen';
                }
                this.width = this.$.chart.clientWidth;
                this.svg.attr('width', this.width);
                this.initChart();
                this.drawChart();
            }

            exportSVG(event) {
                let svg = this.$.chart.innerHTML;

                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,'
                    + encodeURIComponent(svg));
                element.setAttribute('download', this.name + '.svg');

                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            }

        }

        // Connect the Javascript and HTML classes.
        customElements.define(IOSenseDatapointbarchart.is, IOSenseDatapointbarchart);

    </script>
</dom-module>
